// ---------- variables ------------------------------------

$max-width: 1440px;
$spacing_desk: 48px;
$spacing_mob: 48px;

$max-width: 1440px;
$spacing_desk: 40px;
$spacing_mob: 15px;

$font-title: "SamsungSharpSans";
$font-text: "SamsungOne";
